body {
    font-family:Segoe UI, Roboto, Arial, sans-serif;
    line-height: 1.5;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
    padding:20px;
    max-width:900px;
    margin:auto
}
h1 {
    color: #444;
    text-align: center;
}
pre {
    background-color: #272822;
    color: #f8f8f2;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    font-size: 14px;
}
code {
    font-family: "Courier New", Courier, monospace;
}
a {
    display: block;
    margin: 10px auto;
    width: fit-content;
    padding: 10px 20px;
    background-color: #0078d4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
a:hover {
    background-color: #005bb5;
}
.nowrap {
    white-space: nowrap;
}
